.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoContainer {
    font-family: "Roboto", sans-serif;
    display: flex;
    max-width: 100%;
    align-items: center;
    font-size: 62px;
    font-weight: bold;
}

.tableWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .logoContainer {
        font-size: 32px;
    }

    img {
        width: 100px;
    }
}

@media all and (max-width: 426px) {
    .logoContainer {
        display: flex;
        flex-direction: column;
    }
    .header{
        display: flex;
        flex-direction: column;

    }
}

