/*POSITION WARNING WINDOW*/
.warning {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;

}

/*SETTINGS WARNING WINDOW*/
.modal_content {
    color: #FFFFFF;
    text-align: center;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    background: #2196F3;
}

