/*TABLE SETTINGS*/
.tableWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tableContainer {
    width: 90%;
    border-spacing: 0 20px;
}
.tableBody{

}

td{
    text-align: left;
    font-weight: bolder;
    height: 60px;
}

tr {
    border-radius: 20px;
    box-shadow: 0 0 3px;
    cursor: pointer;
}

td:last-child {
    padding-left: 20px;
    border-left: gray solid 1px;
}

td:nth-child(even) {
    padding-left: 20px;
    border-left: gray solid 1px;
}

td:first-child {
    text-align: center;
}

tr:hover:first-child {
    background: #2196F3;

}

tr:hover {
    box-shadow: 2px 2px 3px;
}


/*HEADER TABLE*/
.border_left {
    background: #2196F3;
    border-radius: 0 20px 20px 0;
    color: #FFFFFF;
}

.border_left:hover {
    background: #2196F3;
    color: #c5ea3e;
}

.border_left:active {
    background: #2821f3;
    border-radius: 0 20px 20px 0;
    color: #777777;
}

.border_right {
    background: #2196F3;
    border-radius: 20px 0 0 20px;
    color: #FFFFFF;
}

.border_mid {
    background: #2196F3;
    color: #FFFFFF;
}

.border_mid:active {
    background: #2821f3;
    color: #777777;
}

.border_mid:hover {
    color: #c5ea3e;
}

/*ADD COUNTRIES BUTTON*/
.buttonAdd {
    border-radius: 10px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    height: 30px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
}

.buttonAdd span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonAdd span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonAdd:hover span {
    padding-right: 25px;
}

.buttonAdd:hover span:after {
    opacity: 1;
    right: 0;
}



